@font-face{
    font-family: 'MiFuente';
    src: url(/Galeria//Tipografia/Lobster-Regular.ttf);
}
body {
    background-color:rgb(105, 0, 7);
}
#contenedorGaleria{
    border: rgb(144, 179, 217) 5pxsolid;
    padding: 70px 50px;
    position: absolute;
}
#contenedorFotografias{
    border: rgb(108, 127, 196) 10px ridge;
    margin-bottom:30px;
}
#imagen{
    width: 100%;
    height: 500px;margin-bottom: -5px;
}
#tituloPagina{
    text-align: center;
    margin-top: -30px;
    font-family: 'MiFuente';
    font-size: xx-large;
}