body {
    background-color: red;
}
#contenedorGaleria{
    border: rgb(144, 179, 217) 5pxsolid;
    padding: 70px 50px;
    position: absolute;
}
#contenedorFotografias{
    border: springgreen 10px ridge;
    margin-bottom:10px;
}
#imagen{
    width: 100%;
    height: 400px;
}